h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

th {
  color: blue;
  font-weight: bold;
}
table {
  border: 2px solid red;
}

ul {
  list-style-type: square;
}

a:hover {
  background-color: orange;
  text-decoration: none;
}

blockquote > em > strong {
  color: #800000;
}

blockquote {
  color: #90EE90;
}

#teamRoster > li:first-child{

  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  /* opacity: .5; */
  overflow: hidden;
  background-position: top left;

  background-repeat: no-repeat;
}
#teamRoster > li:last-child {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  /* opacity: .3; */
  overflow: hidden;
  background-position: top left;
  background-repeat: no-repeat;
}
ol > li:nth-child(1) {
  font-weight: bold;
}
#checkbox-grid {
  list-style-type: none;

}
img {
  display: none;
}
